AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
AIRFLOW_IMAGE_NAME=revops-airflow:local
AIRFLOW__CORE__INTERNAL_API_SECRET_KEY=revops-airflow-internal-secret
AIRFLOW__API_AUTH__JWT_SECRET=revops-airflow-jwt-secret
GCP_PROJECT_ID=revops-analytics-personal
BQ_RAW_DATASET_ID=revops_raw
BQ_ANALYTICS_DATASET_ID=revops
BQ_LOCATION=US
GOOGLE_APPLICATION_CREDENTIALS=/opt/revops/credentials/revops-analytics-personal-a1021129b620.json
DBT_PROFILES_DIR=/opt/revops/revops_dbt/profiles
